[Unit]
Description=Subscriber for V2ray-core 
Documentation=https://github.com/yanwh0311/v2csub
Wants=network-online.target
After=network-online.target nss-lookup.target
Before=v2ray.service

[Service]
Type=oneshot
ExecStart=/usr/bin/v2csub
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
